.App {
  max-width: 1440px;
  padding: 100px 15px;
}

.coords {
  display: grid;
  grid-template-columns: repeat(3, 420px);
  gap: 20px;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px
}

.add {
  width: 70%;
  margin: 0 auto;
}

.one,
.two,
.third {
  text-align: center;
}

.one__block,
.two__block,
.third__block {
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr;
  min-height: 25px;
  gap: 7px;
  margin: 7px;
}